/*-------------<NAVEGADOR>-------------*/
a.nav-expander { background: none repeat scroll 0 0 transparent; color: #ffffff; display: block; font-size: 15px; font-weight: 400; height: 50px; margin-right: 0; padding: 1em 1.6em 2em; position: absolute; text-decoration: none; text-transform: uppercase; top: 0; transition: right 0.3s ease-in-out 0s; width: 130px; z-index: 12; }
.nav-expanded nav { right: 0; } 
.main-menu li > a > span.icon { float: right; margin: 0.1em 1.7em -0.1em 0; opacity: 0; transition: all 0.2s ease-in-out 0s; }
a.nav-expander.fixed { position: fixed; }
nav { display: block; height: 100%; overflow: auto; position: fixed; right: -20em; top: 0; transition: right 0.3s ease-in-out 0s; width: 14em; z-index: 2000; }
/*-------------</NAVEGADOR>-------------*/

/*---------------------------<HEADER>----------------------------*/


/*---------------------------</HEADER>----------------------------*/