/*--------------------------- <FOOTER> ----------------------------*/
.mainFooter { background: #f3f3f3 url('../../img/assets/footerImage.png'); background-repeat:no-repeat; background-position:center center; background-size: 32%; padding-top: 75px; margin-top: -7px;  text-align: center; justify-content: center; justify-items: center;}
