/*-------------<NAVEGADOR>-------------*/
a.nav-expander { background: none repeat scroll 0 0 transparent; color: #ffffff; display: block; font-size: 15px; font-weight: 400; height: 50px; margin-right: 0; padding: 1em 1.6em 2em; position: absolute; text-decoration: none; text-transform: uppercase; top: 0; transition: right 0.3s ease-in-out 0s; width: 130px; z-index: 12; }
.nav-expanded nav { right: 0; } 
.main-menu li > a > span.icon { float: right; margin: 0.1em 1.7em -0.1em 0; opacity: 0; transition: all 0.2s ease-in-out 0s; }
a.nav-expander.fixed { position: fixed; }
nav { display: block; height: 100%; overflow: auto; position: fixed; right: -20em; top: 0; transition: right 0.3s ease-in-out 0s; width: 14em; z-index: 2000; }
/*-------------</NAVEGADOR>-------------*/

/*---------------------------<HEADER>----------------------------*/
header{ position:fixed; margin: 0 auto; width: 100%; z-index: 999; background-color:#28394d; box-shadow: 0 10px 16px 0 rgba(150,150,150,0.2),0 0px 20px 0 rgba(150,150,150,0.19) !important;}
header .navbar-nav {margin: 0 !important;}
header .navbar-nav > li > a{padding: 22px 2px 13px;color:#fff;font-family: 'Lato', sans-serif;font-size: 12px;top:20px;display: inline;}
header .menu_movil li a{display: block;padding: 15px 0 15px 15px;font-family: 'Lato', sans-serif;font-size: 12px;}
    header .navbar-nav > li > span{color: #FE3333;font-size: 12px;position: relative;top: 19px;}
    header .navbar-nav li.margin-left{margin-left:14px;}
    header .navbar-nav li.last{margin-right:15px;}
    header .navbar-nav > li.no_activo a{color:#767676}
    header .navbar-nav > li > a i{font-size: 22px;position:relative;color:#fff;}
        header .navbar-nav > li > a i:hover,.footer .last_footer ul li i:hover{color:#fff;}
    header .nav-expander{background-color:transparent;color:#fff !important;min-height: 59px;width: 65px;padding:0;border-radius: 0;border:0 none;} /* min-height: 70px; */
        header .nav-expander:hover,header button.nav-expander:active{background-color: #444 !important; border-radius:50%;}
        header .nav-expander i{font-size: 40px;}
        header .navbar-nav li img.bandera_idioma{margin: 0 2px;}
        .header .top_links{position: relative;left:20px;}
		 .header .top_links li a{z-index: 105;}
        .header .button_text{position: absolute;top:1px;left:45px;font-size: 12px;}
    .nav-menu{background-color:#000;margin-top:0;border-radius: 0;border: 0 none;padding:0 0 0 15px;z-index: 3 !important;border-left: 1px solid #000;}
        .nav-menu ul.main-menu{margin-top:70px;}
.nav-expanded nav {right: 0 !important;}
            .main-menu li.first{border:none;padding:0 0 0 15px;}
            .main-menu li.first i{font-size: 20px;}
            .main-menu li.last{height:100px;border:0 none;}
            .main-menu li a{color:#fff;padding:15px 10px;font-family: 'Lato', sans-serif; text-decoration: none;border-bottom: 1px solid #5d6165;display: block;}
            .main-menu li a#nav-close{background-color: transparent;border:0 none}
            nav li:hover > a, nav li.open > a{background-color: #CE1719; color: white !important; opacity: 1 !important; }
            nav li.active a,nav li.active-dropdown li.active a{background-color: #232323;}
            .menu_movil li:hover a,.menu_movil li:hover li:hover a,.menu_movil li.open li:hover a,.menu_movil li.active a,.menu_movil li.active-dropdown li.active a{background-color: #EBECF1;}
            nav li a.active-dropdown{background-color: #CD1719;color:#ffffff !important; }
            nav li:hover li a, .nav li:hover li a{ background-color: #000; color: #c3c3c3; }
            .main-menu li.inscribete a{color:#FFD200;; }
            .main-menu li.inscribete a img{position: relative;top:-12px;left:3px;}
            .main-menu li ul { padding-left: 0;list-style-type: none; }
            .main-menu li ul li { border: 0;padding-left: 10px;}.main-menu li a
header .button_menu{z-index: 100;}
nav .open{padding-bottom: 0;}

header .texto-logos{ color:#fff; font-family: 'Lato', sans-serif; font-size: 10px;  margin-left: 10px; margin-right: 10px; margin-top: 10px; float: left; }

#twitter-widget-0{width: 100% !important;}
.fb-widget{width: 100% !important;}
.migas ul { padding-left: 0;display: inline-block;float:right;}
.migas ul li { display: inline; }
.migas ul li a { color: #000000; font-size: 12px; }
.migas ul li i{color: #CE1719;}
/*---------------------------</HEADER>----------------------------*/