@charset "iso-8859-1";

body {
	width:100% !important;
	-webkit-text-size-adjust:100%!important;
	-ms-text-size-adjust:100%!important;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#ffffff !important;
	color:#2d2d2d !important;
}

@font-face {
	font-family:'open_sans_condensedbold';
	src:url('../fonts/opensans-condbold-webfont.eot');
	src:url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-condbold-webfont.woff') format('woff'),
		 url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
	font-weight:normal;
	font-style:normal;

}
 @font-face {
	font-family:'open_sanscondensed_light';
	src:url('../fonts/opensans-condlight-webfont.eot');
	src:url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-condlight-webfont.woff') format('woff'),
		 url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'open_sansCnLtIt';
	src:url('../fonts/opensans-condlightitalic-webfont.eot');
	src:url('../fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-condlightitalic-webfont.woff') format('woff'),
		 url('../fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
	font-weight:normal;
	font-style:normal;

}
/*Al usar bootstrap para un slider de han modificado algunas cosas en el index, estas clases son de depuracion, solo afecta al index y a sus sedes*/
.corrector-p p{margin-bottom: 0px;}
.corrector-p .bloque-programas{width: 103%;}
.corrector-p .col-1 {width: 33%;}
.corrector-p .nuevoMenu li .drop {height: 76px;}
.corrector-p .nuestros_campus.nuevo {width: 15% !important; left: 21px; min-height: 34.2rem;}
.corrector-p .cont a {top: 3px!important;}
.corrector-p a:hover{color: initial; text-decoration: none;}

	
/*Depuracion en sedes Madrid*/
.corrector-m p{margin-bottom: 0px;}
.corrector-m .bloque-programas{width: 102%;}
.corrector-m .bloque-programas.flex-base{width: 104%;display: flex;align-items: baseline;margin-bottom: 70px;}
.corrector-m .col-1 {width: 22%;}
.corrector-m .tematics .col-1 {width: 19%;}
.corrector-m .nuevoMenu li .drop {height: 76px;}
.corrector-m .nuestros_campus.nuevo {width: 15% !important; left: 21px; min-height: 19.6rem;}  /*min-height: 34rem;*/
.corrector-m .cont a {top: 3px!important;}
.corrector-m a:hover{color: none; text-decoration: none;};


/*Menu Principal*/
#nuevo-menu{width:100%;height:30px;padding:0;margin:0;}
#nuevo-menu li {list-style-type:none;float:left;text-transform:uppercase;}
#nuevo-menu li a{color:#FFF;font-size:11px;text-decoration:none;padding:0 3px;height:30px;line-height:30px;margin:0;display:block;text-transform:none;}
#nuevo-menu li a:hover,#nav_top#nuevo-menu li a.active{color:#DBCB85;text-shadow:#4b4b4b 1px 1px 1px;}
.nuestros_campus.nuevo.en-ingles{margin-top:-26px !important;}

#nuevo-menu div.buscar {width:16%;height:25px;padding:4px 0px 0px;margin:0px;float:left;text-align:right;}
#nuevo-menu div.buscar.empren{width:21%;}
#nuevo-menu input.buscar{width:160px;background:#ffffff;border:none;height:19px;}
#nuevo-menu input.buscar {background:url("../imagenes/lupa.png") no-repeat scroll 0.7em center #ffffff;border:1px solid #ffffff;color:#333;width:81%;padding:0 .2em 0 2.5em;margin:0 0 11px;}
#nuevo-menu .playsearch{}
#nuevo-menu input.buscar:focus {background:url("../imagenes/lupa.png") no-repeat scroll 0.7em center #ffffff;color:#333333;border:1px solid #ffffff;width:69%;padding:0 .2em 0 2.5em;}
#nuevo-menu input.buscar.buscar_enpag{width:83%;}

.contacto{width:auto;float:right;height:auto;}
.cont{width:100%;float:left;height:auto; display: flex;align-items: center; margin-top: 5px;}
.cont a{color:#ffffff;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase;font-size:11px;}
.cont a img{;margin-right:7px;}
#nuevo-menu ul.idiomas {width:auto;float:left;height:30px;padding:0;margin:0px 10px 0 0;}

#nav_principal li a.last {border-right:none !important;}

.nuevoMenu li .drop {height:50px;}
.nuevoMenu li .drop.last{border:none;}
/*.sedes-rsp .nuevoMenu li .drop {padding:2px 9px 0 !important}*/
.nuevo-menus{width:100% !important;}
.corrector-m .nuevo-menus {width: 100% !important;}
.nuevoMenu .dropdown_esic, .dropdown_carreras, .dropdown_masters, .dropdown_executive, .dropdown_sedes, .dropdown_experience {margin:0px auto;float:left;position:absolute;left:-999em;text-align:left;padding:10px 5px;background:#000;opacity:0.91;width:1011px !important;}
.nuevoMenu li:hover .dropdown_esic {top:auto;z-index:9999;left:-38.9em !important}
.nuevoMenu li:hover .dropdown_carreras {left:-41.9em !important;top:auto;z-index:9999;}
.nuevoMenu li:hover .dropdown_masters {left:-52.3em !important;top:auto;z-index:9999;}
.nuevoMenu li:hover .dropdown_executive {left:-66.4em!important;top:auto;z-index:9999;}
.english.nuevoMenu li:hover .dropdown_esic {top:auto;z-index:9999;left:-32.2em !important;}
.english.nuevoMenu li:hover .dropdown_carreras {left:-34.9em !important;top:auto;z-index:9999;}
.english.nuevoMenu li:hover .dropdown_masters {left:-46.2em !important;top:auto;z-index:9999;}
.english.nuevoMenu li:hover .dropdown_executive {left:-63.4em !important;top:auto;z-index:9999;}
.nuestros_campus.nuevo{width:12% !important;height:auto !important;background:#717874 !important;color:#ffffff;padding:15px;margin:-2px 0px 0px; min-height: 19.5rem;}
.nuestros_campus.nuevo li.bold{font-size:16px;font-family:'Open sans condensed', Arial, sans-serif !important;text-align:center;font-weight:700;}
.nuestros_campus.nuevo li a{font-size:15px;font-family:'Open sans condensed', Arial, sans-serif !important;text-align:center;font-weight:300;color:#ffffff;font-family:'open_sanscondensed_light',sans-serif,Arial !important;}
.nuestros_campus.nuevo li{border-bottom:1px solid #8f9390;}
.idiomas li a{padding:0 3px !important;}
#nuevo-menu ul.idiomas.sedes {margin:0px 9px 0 0;}
#nuevo-menu ul.inicio {width:auto;}
#nuevo-menu ul.inicio.sedes{width:auto;}
.nuevoMenu li:hover .dropdown_esic.sedes {top:auto;z-index:9999;left:-39.5em!important;}
.nuevoMenu li:hover .dropdown_esic.sedes2 {top:auto;z-index:9999;left:-42.5em !important;}
.nuevoMenu li:hover .dropdown_esic.sedes2.bilbao-sedes{left: -46.6em !important;}

.menu-granada{margin:-34px -28px 0 0!important;}
.wrapperHome{width:100%;float:left;height:auto;}
.contenido-home{margin:0 auto;max-width:998px;padding:0px 10px;}
.header {width:100%;margin:0px auto; background:#002856;}
.height-control{height: 30px!important;}
.logo-bilbao, .logo-granada, .logo-galicia{float:left;position:relative;top:16px;left:7px;margin-right:-33px;}
.logo-granada{top: 40px;left: 0;margin-right:-10px;}
.logo-galicia{margin-right:0;}
.campus-sede-logo.bilbao{top: 38px; left: 35px;}

.img-cabecera{background:#bcc7bf;width:100%;height:auto;float:left;position:absolute;margin-top:99px;}
.img-cabecera.back{height:338px;background:#e4e4e4;}
.img-cabecera.generica-back{height:338px;background:#e4e4e4;width:100%;height:auto;float:left;position:relative;margin:0;}
.img-cabecera.back.experience-grado{border-top:7px solid #ec7404;border-bottom:7px solid #ec7404;}
.img-cabecera.back.experience-post{border-top:7px solid #9dcc4f;border-bottom:7px solid #9dcc4f;}
.indicadores{position:absolute;z-index:99;margin-top:-23px;}

.contenedor{width:100%;float:left;height:auto; margin-bottom: -12px;}
.min-height{min-height: 80vh;}
.bloque-programas{width:100%;height:300px;float:left;padding:20px 0;}
.col-2{width:20%;margin-right:30px;float:left;height:auto;background:#ffffff;border:1px solid #e4e4e4;}
.texto{width:85%;padding:10px 15px 10px;float:left;height:auto;border-top:4px solid #bbbbbb;}
.title-programas{font-family:'Open sans', Arial, sans-serif;font-weight:800;font-size:14px;color:#2d2d2d;line-height:21px;}
.title-programas span{font-family:'Open sans condensed', Arial, sans-serif;font-weight:300;font-size:35px;color:#000000;line-height:32px;}
.description{padding:20px 0 5px;font-family:Arial, Helvetica, sans-serif;font-size:14px;}
.btn-enlace{width:100%;text-align:center;float:left;height:auto;padding:5px 0;}
.btn-enlace a{color:#ffffff;text-decoration:none;font-size:22px;font-family:'Open sans condensed', Arial, sans-serif;font-weight:800;width:100%;text-align:center;}
.btn-enlace a:hover{color:#ffffff;text-decoration:underline;}
.col-2.carreras .btn-enlace{background:#f47920;}
.col-2.masteres .btn-enlace{background:#9dcc4d;}
.col-2.executive .btn-enlace{background:#822022;}
.col-3{width:30%;float:left;height:auto;background:#f3f3f3;padding-right:8px;position:relative;top:-151px;}
/*.col-3{width:30%;float:left;height:auto;background:#e4e4e4;padding-right:8px;position:relative;top:-148px;}*/
.espacio{padding:5px 20px 20px;width:auto;height:auto;float:left;}
.text-menu{width:100%;float:left;height:auto;padding:10px 0;border-bottom:1px solid #ababab;}
.text-menu:last-child{border-bottom:0;}
.sesiones{border:2px solid #9dcc4d;padding:0 19px 0 !important;width:95%;}
.sesiones .text-menu{border-bottom:0;}
.enlace-menu{text-transform:uppercase;width:95%;float:left;height:auto;font-family:'Open sans condensed', Arial, sans-serif;font-size:17px;}
.bullet{margin-top:5px;width:5%;float:left;height:auto;}

.bloque-tematicasNuevo.homeE{width:66%;}
.bloque-tematicasNuevo{width:100%;float:left;height:auto;background:#ffffff;padding:10px 0px 5px;margin:20px 29px 10px 0;border:1px solid #e4e4e4;}
.col-1.titulo-tem{width:auto !important;float:left;height:auto;padding:0 10px;border-right:1px solid;}
.titulo-tem p{font-family:'Open sans condensed', Arial, sans-serif;font-size:32px;font-weight:300;padding:9px 0;line-height:30px;}
.titulo-tem p span{font-family:'Open sans condensed', Arial, sans-serif;font-size:22px;font-weight:700;}
.col-1{width:30%;height:auto;border-right:1px solid;float:left;padding:0px 5px 0px 13px;}
.col-1:last-child{border-right:none;}
.row-tam{width:100%;float:left;height:auto;padding:7px 0;}
.icono-tem{width:22%;float:left;height:auto;}
.text-tem a{width:76%;float:left;height:auto;font-family:'Open sans condensed', Arial, sans-serif;font-size:15px;font-weight:300;}
.text-tem a:hover{text-decoration:underline;color:#2d2d2d;}
.titulo-home{font-size:20px !important;padding:0 !important;}
.titulo-home span{font-size:20px !important;}
.bloque-titulo.titulo-tem.titulo-sed.no-pad{padding-bottom:0 !important;}
.bloque-tematicasNuevo.sedeNuevo.tematics{width:100% !important;padding-bottom:40px;}
.corrector-m .bloque-tematicasNuevo.sedeNuevo.tematics{width: 102%!important;}
.bloque-eventos-noticias{width:100%;float:left;height:auto;padding-bottom:30px;}
.margen{margin-top:46px;}
.bloque-noticias{width:48%;float:left;height:auto;margin-right:39px;}
.bloque-noticias p, .bloque-eventos p{font-family:'Open sans condensed', Arial, sans-serf;font-weight:300;font-size:30px;padding-bottom:20px;}
.contenido-noticias{width:auto;padding:10px 20px 15px;float:left;height:auto;background:#f3f3f3;}
/*.contenido-noticias{width:auto;padding:10px 20px 15px;float:left;height:auto;background:#e4e4e4;}*/
.row-not, .row-ev{height:111px;width:100%;float:left;border-bottom:1px solid #d2d2d2;padding-top:20px;}
/*.row-not, .row-ev{height:111px;width:100%;float:left;border-bottom:1px solid #8a8a8a;padding-top:20px;}*/
.img-noticias{float:left;margin-right:10px;width:auto;height:auto;}
.enlace-noticias{float:left;width:60%;height:auto;}
.enlace-noticias a, .enlace-eventos a{font-family:'Open sans condensed', Arial, sans-serf;font-weight:700;font-size:15px;}
.enlace-noticias a span , .enlace-eventos span{font-family:'Open sans condensed', Arial, sans-serf;font-weight:300;font-size:14px;}
.enlace-noticias a:hover, .enlace-eventos a:hover{color:#000000;text-decoration:underline;}
.btn-noticias, .btn-eventos{width:auto;float:right;height:auto;padding-top:20px;text-align:right;}
.btn-noticias a, .btn-eventos a{width:auto;float:right;height:auto;padding:20px;text-align:right;background:#ffffff;font-family:'Open sans condensed', Arial, sans-serf;font-weight:700;font-size:21px;color:#000000;}
.btn-noticias a:hover, .btn-eventos a:hover{text-decoration:underline;color:#000000 !important;}
.bloque-eventos{width:48%;float:left;height:auto;}
.contenido-eventos{width:auto;padding:10px 20px 16px;float:left;height:auto;background:#f3f3f3;}
/*.contenido-eventos{width:auto;padding:10px 20px 16px;float:left;height:auto;background:#e4e4e4;}*/
.fecha-ev{width:29%;float:left;height:auto;margin-right:10px;}
.fecha-ev .fechaE{font-family:'Open sans condensed', Arial, sans-serf;font-weight:700;font-size:44x;background:#ffffff;width:69%;float:left;height:auto;padding:8px 10px 9px;line-height:23px;text-align:center;margin-bottom:18px;font-size:21px;}
.fecha-ev .fechaE span{font-family:'Open sans condensed', Arial, sans-serf;font-weight:300;font-size:32x;text-transform:uppercase;}
.fechaSede{font-size:16px;}
.imgE{float:left;width:auto;height:auto;}
.enlace-eventos{float:left;width:65%;height:auto;}
.ir-agenda{font-family:'open sans', Arial, sans-serif;font-weight:400italic;font-size:11px;width:100%;float:right;padding-top:9px;}

.footer .contenido-home li a {font-size:11px;text-decoration:none;padding:0px 5px;margin:0px;display:block;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase;color:#000000;font-weight:normal;}
.footer .contenido-home li.subrayado a {font-size:11px;font-weight:bold;text-decoration:underline;padding:0px 5px;margin:0px;display:block;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase;color:#000000;}

.noticia-actualidad{width:20%;float:left;}
.esic-actualidad{width:50%;float:left;padding:7px 0px 0px;}
.top-height{height: 124px!important ;}

/*SEDES*/
.campus select{background:tranparent;width:108%;border:0;margin-left:-6px;padding:2px 10px 3px;font-size:15px;font-family:Arial, Helvetica, sans-serif;}
.campus {overflow:hidden;background:url("../imagenes/nueva-home/sedes/select.gif") no-repeat right #ffffff;width:24%;margin:0;padding:3px 5px;height:auto;z-index:999999;}
.arrow::-ms-expand {display:none;}
.arrow{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;background:url('../imagenes/nueva-home/sedes/select.gif') no-repeat right 71% #ffffff;z-index:999999;}
@media screen\9{.arrow{background:none;}}
@media \0screen\,screen\9{.arrow{background:none;}}

.campus-sede-logo-granada{width:10%;float:left;position:relative;top:54px;left:-88px;font-family:'Open sans condensed', Arial, sans-serf;font-weight:300;font-size:16px;line-height:17px;margin:0;}
.campus-sede-logo-granada span{font-family:'Open sans condensed', Arial, sans-serf;font-weight:700;font-size:19px;text-transform:uppercase;}
.campus-sede-logo{width:10%;float:left;position:relative;top:32px;left:12px;font-family:'Open sans condensed', Arial, sans-serf;font-weight:300;font-size:16px;line-height:17px;margin:0;}
.campus-sede-logo span{font-family:'Open sans condensed', Arial, sans-serf;font-weight:700;font-size:19px;text-transform:uppercase;}
.img-cabecera.madrid{background:#5d5247;width:100%;height:auto;float:left;position:relative;margin:0;}
.img-cabecera.granada{background:#735d46;width:100%;height:auto;float:left;position:relative;margin:0;}
.img-cabecera.generica{background:#cacaca;width:100%;height:auto;float:left;position:relative;margin:0;}
.contenedor.sedes{width:100%;float:left;height:auto;position:relative;}
.titulo-tem span.sed{font-family:'Open sans condensed', Arial, sans-serif;font-weight:300;font-size:24px;color:#000000;line-height:19px;}
.sedeNuevo .titulo-sed p{padding:0 !important;}
.sedeNuevo .col-1.titulo-sed{padding:0px 5px 0px 13px !important;}
.sedeNuevo .col-1{padding:0 5px 0 13px !important;}
.col-3.no-background{background:none;float:right;padding-right:0;top:0;}
.row-visita-virtual{width:100%;float:right;height:auto;padding-bottom:20px;}
.row-visita-virtual.language{padding-bottom:10px;margin-top: -5px;}
.row-como-llegar{width:100%;float:right;height:auto;}
.row-visita-virtual a, .row-como-llegar a{width:100%;text-align:right;height:auto;float:right;}
.contenedor.sedes .bloque-programas{height:130px;}

.col-3-tem{width:24%;float:left;line-height:auto;padding:0 15px;}
.tem{padding:0;position:relative;top:-36px;}
.tem p{font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;font-size:21px;padding-bottom:15px;}
.select select{background:tranparent;width:109%;border:0;margin-left:-6px;padding:2px 10px 3px;font-size:15px;font-family:Arial, Helvetica, sans-serif;border:1px solid #aaaaaa;}
.select {overflow:hidden;background:url("../imagenes/nueva-home/sedes/select-areas.gif") no-repeat right #ffffff;width:92%;margin:0;padding:3px 10px;height:auto;z-index:999999;}
.arrow_select_sedes::-ms-expand {display:none;}
.arrow_select_sedes{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;background:url('../imagenes/nueva-home/sedes/select-areas.gif') no-repeat right 71% #ffffff;z-index:999999;}
@media screen\9{.arrow_select{background:none;}}
@media \0screen\,screen\9{.arrow_select_sedes{background:none;}}
select:focus, input:focus, textarea:focus {outline:none;}


.col-4{width:53%;float:right;height:auto;}
.sedeMapa .direccion {position:absolute;z-index:10;background:rgba(97,97,97,.8);color:#FFF;width:25%;padding:15px 29px 15px 26px;margin:91px 0 0 -3px;height:auto;}
.sedeMapa .direccion p{color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.sedeMapa .mapa{margin:0px 0px 31px -3px;}

.bloque-titulo{width:90%;padding:0 13px 10px;float:left;height:auto;}
.bloque-titulo p{font-family:'Open sans condensed', Arial, sans-serif;font-size:26px;font-weight:300;padding:9px 0;line-height:30px;}
.bloque-titulo p span{font-family:'Open sans condensed', Arial, sans-serif;font-weight:700;font-size:26px;}

.tematics .col-1{width:16%;height:97px;}
.tematics .icono-tem {width:21%;}
.tematics .text-tem a {width:76%;font-size:15px;}

/*Contacto sedes*/
.col-12{width:100%;float:left;height:auto;}
.col-4-contacto{width:40%;float:left;height:auto;padding:20px 10px;}
.col-8-formulario{width:57%;float:left;height:auto;padding:20px 0;}
.titulo-contacto{font-family:'Open sans condensed', Arial, sans-serif;font-weight:300;font-size:35px;padding-bottom:10px;width:90%;float:left;height:auto;}
.datos-contacto{width:90%;float:left;height:auto;border-top:1px solid #000000;padding:10px 0;}
.bold-site{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:13px;text-transform:uppercase;padding:15px 0;}
.icon-text{width:100%;float:left;height:auto;padding:5px 0;}
.img-contacto{width:auto !important;float:left;margin-right:10px;}
.icon-text p{float:left;height:auto;width:80%;font-family:Arial, Helvetica, sans-serif;font-size:13px;}

.titulo-formulario{font-family:'Open sans condensed', Arial, sans-serif;font-weight:300;font-size:35px;padding-bottom:10px;width:100%;float:left;height:auto;border-bottom:1px solid #000000;}
.formulario{width:102%;float:left;height:auto;padding:20px 0;}
.row-contacto {width:46.7%;height:auto;float:left;padding:5px 24px 10px 0px;}
.row-contacto input {width:100%;padding:10px 5px;height:auto;float:left;border:1px solid #BBB9B9;font-family:"open sans",Arial,sans-serif;font-size:16px;background:#ffffff;font-weight:400;color:#000000 !important;}
.row-contacto.no-padding {padding-right:0px !important;}
.styleSelect-contacto select{background:tranparent;width:110%;border:0;padding:2px 1px 3px;font-size:15px;font-family:Arial, Helvetica, sans-serif;font-family:"open sans",Arial,sans-serif;font-size:16px;font-weight:400;color:#707070;}
.styleSelect-contacto {overflow:hidden;background:url("../imagenes/nueva-home/sedes/select-contacto.png") no-repeat right #ffffff;width:44.4%;margin:0;padding:5px 24px 10px 0px;height:auto;z-index:999999;border:1px solid #BBB9B9;}
.arrow_select_contacto::-ms-expand {display:none;}
.arrow_select_contacto{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;background:url('../imagenes/nueva-home/sedes/select-contacto.png') no-repeat right center #ffffff;z-index:999999;}
@media screen\9{.arrow_select_contacto{background:none;}}
@media \0screen\,screen\9{.arrow_select_contacto{background:none;}}
.textarea-contacto {width:98%;height:auto;float:left;padding:5px 0 10px 0px;margin-top:7px;}
.textarea-contacto textarea {width:100%;padding:10px 5px;height:auto;float:left;border:1px solid #BBB9B9;font-family:"open sans",Arial,sans-serif;font-size:16px;background:#ffffff;font-weight:400;color:#000000 !important;}
.btn-enviar-contacto{width:auto;float:right;text-align:right;padding:11px 0 0;}
.checkbox-contacto {font-family:"open sans",Arial,sans-serif;font-size:12px;font-weight:400;padding:10px 0px;float:left;width:auto;}
.checkbox-contacto input {margin-right:7px;}
.checkbox-contacto a {text-decoration:underline;}
.checkbox-contacto a:hover {text-decoration:none;color:#2d2d2d;}

.sin-margin{margin-top:0 !important;float:right;font-size:20px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;margin-right:22px;position:relative;width:auto;background:transparent url("../imagenes/bullet.png") no-repeat scroll left 9px;padding-left:14px;}

.oculta{display:none;}

.madridT{width:100%;padding-bottom:10px;}
.madridT .col-1 {width:23%;}
.madridT .text-tem a {font-size:16px;}

.row-tam.pad{padding-bottom:29px;}

.color-institucion{border:2px solid #1C5CA7 !important;}
.color-grado{border:2px solid #F47920 !important;}
.color-postgrado{border:2px solid #9DCC4D !important;}
.color-executive{border:2px solid #822022 !important;}

/*Nueva home ESIC Institución*/
.bloque-institucion{padding:20px 0;width:100%;float:left;height:auto;}
.conoce-esic{font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;font-size:28px;}
.row-inst{width:14.87%;float:left;height:auto;border:1px solid #e5e5e5;margin-right:19px;}
.row-inst:last-child{margin-right:0;}
.corrector-m .row-inst {width: 15.33333%; float: left; height: auto; border: 1px solid #e5e5e5; margin-right: 14px;}
.corrector-m .row-inst:last-child{margin-right:0;}

.row-inst a{width:100%;float:left;height:auto;border-bottom:7px solid #1c5ca7;}
.row-inst a p{padding:20px 0 20px 10px;border-top:2px solid #bbbbbb;margin:0;font-size:22px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;height:55px;}
.bloque-info-inst{width:98%;padding:0px 10px 5px;margin:20px 0 50px 0px;float:left;height:auto;background:#e4e4e4;}
.bloque-info-inst .col-1{width:25%;height:72px;height:auto;border-right:0;float:left;padding:0 0 10px 0;border-bottom:1px solid #ababab;margin:0;text-align: center;}
.bloque-info-inst .col-5{width:20%;}
.bloque-info-inst .col-1.no-bord{border-bottom:0;}
.bloque-info-inst .col-1 a{font-size:15px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;padding-top:10px;display: inline-block;}
.corrector-m .bloque-info-inst .col-1 a {font-size:14px;}
.text-inst{width:auto;height:auto;float:none;text-transform:uppercase;margin-right: 10px;}
.img-inst{width:auto;float:none;height:auto;margin-top:6px;}

/*Nuevo formulario executive*/
.reservaPasos{width:100%;float:left;height:auto;}
.prueba{margin:11px auto 0px !important;}
.formPrueba{margin-top:0 !important;}
.menuForm{width:100%;float:left;height:auto;padding:20px 0 0;border-bottom:1px solid #c3c2c2;}
.bloqueMenu{width:60%;float:right;height:auto;}
.cols-3{width:30%;float:left;height:auto;background:#c3c2c2;margin-right:6px;padding:10px 0 10px 10px;}
.cols-3:last-child{margin-right:0;}
.cols-3 p{color:#2d2d2d;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.colActivo{background:#822022;}
.colActivo p{color:#ffffff;}

/*Datos Alumno*/
.datosAlumno{width:100%;float:left;height:auto;padding:20px 0px;}
.titleA{font-size:18px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;text-transform:uppercase;padding-bottom:10px;}
.descA{font-size:18px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;padding-bottom:15px;}
.bloqueForm, .bloqueForm form{width:100%;float:left;height:auto;}
.formularioA{width:48%;float:left;height:auto;margin-right:17px;}
.rightForm{width:49%;float:left;height:auto;}
.rowInput, .rowActivo{width:100%;float:left;height:auto;margin-bottom:15px;}
.rowInput input, .rowActivo input{width:97%;float:left;height:auto;background:#ffffff;border:1px solid #bbb9b9;font-size:20px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;padding:10px 0 10px 10px;}
.formRa{width:100%;float:left;height:auto;margin-bottom:10px;}
.formRa p{width:46%;float:left;height:auto;font-size:18px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;}
.formRa p.ocu{width:38%}
.ocupacionAc{width:62%;float:right;height:auto;}
.bloqueRa{width:49%;float:left;height:auto;}
.bloqueRa input{width:auto;float:left;height:auto;margin-right:5px;margin-top:4px;}
.bloqueRa label{font-size:16px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;}
.enActivo{width:94%;float:left;height:auto;padding:10px;margin:10px 0px;background:#e4e4e4;border:1px solid #bbb9b9;}
.rowActivo:last-child{margin-bottom:0;}
.radio{width:46%;float:right;height:auto;}
.formRa.entero p{width:100%;float:left;height:auto;}
.formRa p .iconInfo{margin-left:8px;border:0;}
.caja-sh{width:76%;float:left;height:auto;position:relative;text-align:center;left:10px;}
#infotri{width:60%;left:140px;}
#infogestion{width:21%;left:-29px;}
.cajita-sh{margin-top:-2px;width:95%;float:left;height:auto;padding:20px;background:rgba(0,0,0,.8);}
.cajita-sh p{width:100%;float:left;height:auto;text-align:left;color:#ffffff;font-size:12px;font-family:'Open sans', Arial, sans-serif;font-weight:400;}
.quitarAlumno{width:100%;float:left;height:auto;text-align:center;padding:30px 0px 0px;}
.quitarAlumno .boton{color:#000000;font-size:22px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;padding:15px 25px;display:inline-block;background:#c3c2c2;margin-bottom:10px}
.anadirAlumno{width:100%;float:left;height:auto;text-align:center;padding:30px 0px 0px;border-bottom:1px solid #c3c2c2;}
.anadirAlumno .boton{color:#000000;font-size:22px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;padding:15px 25px;display:inline-block;background:#c3c2c2;}
.boton:hover{text-decoration:underline;}
.boton img{margin-left:16px;}
.textLegal{width:100%;float:left;height:auto;padding:40px 0px;}
.textLegal input{width:auto;float:left;height:auto;margin-right:5px;margin-top:5px;}
.textLegal p{color:#757579;font-size:16px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;width:90%;float:left;height:auto;}
.textLegal p a{color:#757579;text-decoration:underline;}
.textLegal p a:hover{text-decoration:none;}
.camposObligatorios{width:100%;padding-top:10px;float:left;height:auto;font-size:14px !important;}
.bloqueBtn{width:100%;float:left;height:auto;padding:0 0px 20px;}
.enlaceLeft{float:left;width:auto;height:auto;padding:5px 25px 15px;color:#000000;font-size:22px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;background:#c3c2c2;}
a.enlaceLeft:hover{color:#000000 !important;text-decoration:underline;}
.enlaceLeft img{margin-right:92px;position:relative;top:8px;}
.enlaceRight{float:right;width:auto;height:auto;padding:5px 25px 15px;color:#ffffff;font-size:22px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;background:#822022;}
a.enlaceRight:hover{color:#ffffff !important;text-decoration:underline;}
.enlaceRight img{margin-left:70px;position:relative;top:8px;}

/*Datos Facturación*/
.datosFact{width:100%;float:left;height:auto;padding:20px 0px;}
.fact, .bloqueEnvio{width:100%;float:left;height:auto;padding:10px 0;}
.fact .bloqueRa{width:15%;}
.fact .bloqueRa.dos{width:30%;}
.selectFact {overflow:hidden;background:url("../imagenes/formulario-inscripcion-executive/bullet_select.gif") no-repeat right #ffffff; border:none;padding:9px 0;height:auto;z-index:999999;float:left;border:1px solid #BBB9B9;}
.selectFact select{background:#transparent;width:100%;border:0;padding:0 1px;color:#757579;font-family:"Open Sans Condensed", Arial, sans-serif;font-weight:300;font-size:20px;}
.arrowSelect::-ms-expand {display:none;}
.arrowSelect{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;background:url("../imagenes/formulario-inscripcion-executive/bullet_select.gif") no-repeat 0 0;background-position:right;z-index:999999;}
@media screen\9{.select_arrow{background:none;}}
@media \0screen\,screen\9{.select_arrow{background:none;}}
select:focus, input:focus, textarea:focus {outline:none;}
.doble input{width:98%;}
.estirado{width:97%;}
.envio{padding:20px 0;}
.tituloEnvio{color:#757579;font-size:20px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;}
.fact .bloqueRa.trans{width:21%;}
.bloquePago{width:100%;float:left;height:auto;padding:10px 0 20px;}
.rowInput.doble textarea{width:98.5%;float:left;height:auto;background:#ffffff;border:1px solid #bbb9b9;font-size:20px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;padding:10px 0 10px 10px;color:#757579;}
.solo{border-top:1px solid #c3c2c2;padding-top:20px;margin-top:30px;}

/*Resumen de Reserva*/
.datosResumen{width:100%;float:left;height:auto;padding:20px 0px;}
.tablaDatos{width:100%;float:left;height:auto;margin-bottom:20px;}
.tablaAlumno{width:100%;float:left;height:auto;border-top:1px solid #bbb9b9;border-left:1px solid #bbb9b9;background:#e4e4e4;height:auto;}
.tablaAlumno.cell-fixed{min-height: 90px;}
.titleDatos{padding:15px 0 15px 15px;width:97.9%;float:left;border-bottom:1px solid #bbb9b9;border-right:1px solid #bbb9b9;}
.titleDatos p{font-size:20px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;width:100%;float:left;}
.tablaFactura{width:100%;float:left;height:auto;border-top:1px solid #bbb9b9;border-left:1px solid #bbb9b9;background:#e4e4e4;}
.textDatos{padding:15px 0 15px 15px;width:47.9%;float:left;border-bottom:1px solid #bbb9b9;border-right:1px solid #bbb9b9;}
.textDatos p{color:#000000;font-size:16px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;width:100%;float:left;}
.textDatos p span{color:#757579;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;}
.modificarDatos{padding:20px 0;}
.modificarDatos .enlaceLeft img{margin-right:0;margin-left:20px;}
.modificarDatos .enlaceRight img{margin-left:20px;}
.titleResumen{width:100%;float:left;height:auto;padding:10px 0px 5px;font-size:20px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:300;}

/*Reserva Finalizada*/
.reservaFinalizada{width:100%;float:left;height:auto;padding:10px 0px 20px;}
.descargarReserva{padding:10px 0;}
.descargarReserva .enlaceRight{background:#c3c2c2;color:#000000;}
.descargarReserva .enlaceRight:hover{color:#000000;}
.descargarReserva .enlaceRight img{margin-left:20px;}
.reservaFinalizada p{font-size:18px;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;text-transform:uppercase;margin:10px 0;}
.reservaFinalizada p span{font-weight:300;text-transform:none;}

/*Include*/
.selecciona_tu.formExecutive{height:auto;padding:20px 7px 16px 24px;min-height:153px;}
.borderBottom{border-bottom:1px dashed #2e2b27;padding-bottom:10px;}
.lugarInc, .telInc{padding:10px 0;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.btnInscribete{float:left;height:auto;margin-left:-21px;width:220px;position:relative;top:-38px;left:4px;}
.selecciona_tu.cortaDura{margin-top:-30px;}

/*Nueva Home Postgrado*/
.contenedorPostgrado{width:100%;float:left;height:auto;padding:50px 0px;}
.bloqueIzquierdo{width:66%;float:left;height:auto;margin:0px 20px 0px 0px;}
.presentacionPostgrado{width:100%;float:left;height:auto;background:#f3f3f3;border-top:2px solid #9dcc4d;border-bottom:2px solid #9dcc4d;}
.columnImg{width:auto;float:left;height:auto;}
.columnTexto{width:31%;float:left;height:auto;padding:20px 5px;}
.columnTexto.duo{width:22%;}
.columnTexto ul{border-left:1px solid #9dcc4d;width:100%;float:left;height:157px;padding-left:10px;}
.columnTexto ul li, .desplegable li{width:100%;float:left;height:auto;padding-bottom:7px;}
.bulletPost, .desplegable .bulletPost{width:auto;float:left;margin-right:7px;height:auto;}
.textBullet, .desplegable .textBullet{font-family:'Open Sans Condensed', Arial, sans-serif;font-size:18px;font-weight:300;width:79%;float:left;height:auto;}
.seleccionarPrograma{width:100%;float:left;height:auto;padding:30px 0px 0;}
.titlePostgrado{width:100%;float:left;height:auto;padding-bottom:30px;text-transform:uppercase;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;font-size:18px;color:#9dcc4d;}
.contenidoProgramas{width:100%;float:left;height:auto;padding-bottom:15px;}
.columnPrograma{width:30%;float:left;height:auto;margin-right:10px;padding-left:7px;}
.post{border-left:4px solid #9dcc4d;}
.columnPrograma:last-child{margin-right:0;}
.columnPrograma img{float:left;margin-right:7px;}
.columnPrograma p{width:70%;float:left;height:auto;font-family:'Open Sans Condensed', Arial, sans-serif;font-size:18px;font-weight:300;}
.columnPrograma p a{margin-top:0;}
.columnPrograma a{width:auto;float:left;height:auto;margin-top:7px;}
.masWidth{width:74% !important;}
.masWidth2{width:77% !important;}
.masWidth6{width:76% !important;}
.masWidth7{width:79% !important;}
.masMargin{margin-right:17px !important;}
.desplegable{position:absolute;width:10%;float:left;height:auto;padding:30px 15px 10px;background:#ffffff;margin-left:-11px;margin-top:41px;}
.postg{border-top:1px solid #9dcc4d;border-right:1px solid #9dcc4d;border-left:1px solid #9dcc4d;border-bottom:5px solid #9dcc4d;}
.desplegable .textBullet a{margin-top:-4px;}
.bloqueDerecho{width:30%;float:left;height:auto;}
.bloqueDerecho .espacio{padding:5px 20px 5px;width:89%;height:auto;float:left;margin-left:7px;background:#f3f3f3;position:relative;top:-10px;}
.catalogoNuevo .desplegable{width:11.3%;}
.catalogoNuevo .columnPrograma p{margin:0;}

/*Nueva home Executive*/
/*.presentacionExecutive{width:100%;float:left;height:auto;}
.titlePrincipal{width:auto;padding:10px;text-transform:uppercase;font-family:'Open sans Condensed', Arial, sans-serif;font-size:26px;font-weight:700;color:#ffffff;float:left;height:auto;background:#822022;}
.titlePrincipal span{font-weight:300;}*/
.presentacionExecutive{width:100%;float:left;height:auto;}
.bloqueTitle{width:15%;padding:20px;background:#822022;height:281px;float:left;}
.titlePrincipal{width:100%;text-transform:uppercase;font-family:'Open sans Condensed', Arial, sans-serif;font-size:22px;font-weight:700;color:#ffffff;line-height:25px;margin-bottom:50px;float:left;height:auto;}
.titlePrincipal span{font-weight:300;}
.descPrincipal{font-family:'Open sans Condensed', Arial, sans-serif;font-size:16px;font-weight:300;color:#ffffff;width:100%;float:left;margin-bottom:20px;height:auto;}
.bloqueSoluciones{width:35%;float:left;margin:0 6px;background:#f3f3f3;padding:20px 10px;}
.noMarg{margin:0;}
.titleSoluciones{width:100%;text-transform:uppercase;font-family:'Open sans Condensed', Arial, sans-serif;font-size:18px;font-weight:700;line-height:17px;margin-bottom:10px;float:left;height:auto;text-align:center;}
.titleSoluciones span{font-weight:300;text-transform:none;}
.presentacionExecutive .bloqueSoluciones ul , .presentacionExecutive .bloqueSoluciones ul li{width:100%;float:left;height:auto;}
.presentacionExecutive .bulletPost{margin-top:7px;}
.presentacionExecutive .textBullet {font-size:15px;width:89%;float:left;}
.bloqueIconos{width:75%;float:left;margin:0 6px;background:#f3f3f3;padding:12px 6px;margin-left:6px;margin-top:6px;}
.bloqueDos{width:20%;float:left;text-align:center;}
.bloqueDos .altura{margin-bottom:10px;height:20px;width:100%;float:left;}
.font14{font-family:'Open sans Condensed', Arial, sans-serif;font-size:14px;font-weight:300;}
.presentacionExecutiveDos{width:100%;float:left;height:auto;border-bottom:5px solid #822022;}
.bloqueTitleDos{width:15%;padding:20px;height:auto;float:left;}
.titlePrincipalDos{width:100%;text-transform:uppercase;font-family:'Open sans Condensed', Arial, sans-serif;font-size:18px;font-weight:700;line-height:25px;float:left;height:auto;}
.bloqueIconosDos{width:75%;float:left;margin:0 6px;padding:12px 6px;margin-left:6px;margin-top:6px;}
.font15{font-family:'Open sans Condensed', Arial, sans-serif;font-size:15px;font-weight:300;}
.exec{border-left:4px solid #822022;}
.execu{border-top:1px solid #822022;border-right:1px solid #822022;border-left:1px solid #822022;border-bottom:5px solid #822022; z-index: 2;}
.titleExecutive{width:100%;float:left;height:auto;padding-bottom:30px;text-transform:uppercase;font-family:'Open sans Condensed', Arial, sans-serif;font-weight:700;font-size:18px;color:#822022;}
.exec p {width:71%;}
.masWidth4{width:75% !important;}
.exec.nuevaBusqueda, .post.nuevaBusqueda{float:right;width:auto;border-left:0;}
.exec.nuevaBusqueda p{border-bottom:1px solid #822022;width:100% !important;font-size:16px;}
.exec.nuevaBusqueda p a{color:#822022;text-align:right;width:100%;}
.post.nuevaBusqueda p{border-bottom:1px solid #9dcc4d;width:100% !important;font-size:16px;}
.post.nuevaBusqueda p a{color:#9dcc4d;text-align:right;width:100%;}
.presentacionExecutive .textBullet {font-size:15px;width:90%;float:left;}
.columnTexto.duo {width:21%;}
.columnTexto.duo ul {border-right:1px solid #822022;border-left:0;height:72px;}
		
.botonExecutive{width:100%;float:left;height:auto;margin:10px 6px;display:inline-block;text-align:center;}
.botonExecutive a{width:100%;float:left;display:inline-block;text-align:center;}	
.botonExecutive a img{display:inline-block;text-align:center;}	
.bloqueIconosDos .bloqueDos{width:16.5%;float:left;text-align:center;}
/*Carteles*/
.carteles{width:auto;float:left;margin-right:10px;height:auto;margin-bottom:10px;}

/*Mosca*/
.info-btn{background-color:#002856;display:block;position:fixed;top:50%;left:0;padding:10px;margin-top:-30px;transition:all .15s linear;}
.info-btn:hover{padding-left:50px;-webkit-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75)}
.info-btn2:hover{-webkit-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);color:#ffffff;}
.info-btn:hover img, .info-btn2:hover img{opacity:1}
.info-btn2{display:none;background-color:#000000;position:fixed;bottom:-3px !important;left:0px !important;z-index:9999999999 !important;margin-bottom:0px !important;left:0;padding:8px 10px 15px;color:#ffffff;width:100%;text-align:center;}
.info-btn2 img{width:4%;margin-left:7px;position:relative;top:6px;}	
.nuevoBullets li img{margin-right:7px;float:left;margin-bottom:12px;margin-top:4px;margin-left:-20px}

.logoIcemd{float:right;width:auto;margin-top:6px;margin-right:25px;}
.auto{width:auto !important;}
.logoIcemd.center{float:none;display:inline-block;margin-right:0;}
.logoIcemd.float{float:none;}
.logoIcemd.noMar{margin-right:0;}
.logoIcemd.positionL{position:relative;left:10px;}


/*Nuevos bloques oferta formativa*/
.col-1-bloques {width: 16%; margin-right: 8px; float: left; height: auto; background: #ffffff; border: 1px solid #e4e4e4;}
.corrector-m .col-1-bloques {width: 16.2%;}
.col-1-bloques.carreras .btn-enlace{background:#f47920;}
.col-1-bloques.masteres .btn-enlace{background:#9dcc4d;}
.col-1-bloques.executive .btn-enlace{background:#822022;}
.col-1-bloques.mba-program .btn-enlace{background:#bd2746;}
.col-1-bloques .title-programas span {font-family: 'Open sans condensed', Arial, sans-serif; font-weight: 300;  font-size: 27px; color: #000000; line-height: 22px;}
.col-1-bloques.mba-program .texto{min-height: 11rem;}
.col-1-bloques .texto{width: 82%; min-height: 11rem;}

.en-font {font-size: 13px;}
.en-font span{font-size: 23px!important;}
.col-4-new {width: 47%;  float: right; height: auto; position:relative;}
.col-4-new.sedeMapa .direccion {position: absolute;  z-index: 10;  background: rgba(97,97,97,.8);   color: #FFF;  width: 89%;  left: 0;  right: 0; padding: 15px 29px 15px 26px; margin: 91px 0 0 -3px; height: auto;}
.nuevoMenu li .drop.padding-granada-correction{padding: 20px  11px 0px!important}

/*Depuracion executive*/
.corrector-m .bloqueTitle {width: 21%; height: 32rem;}
.corrector-m .bloqueSoluciones {width: 37%;}
.corrector-m .titlePrincipal{margin-bottom: 50px;}
.corrector-m .bloqueDerecho .espacio {padding: 5px 20px 5px; width: 105%;}
.corrector-m .bloqueIconosDos {width: 83%;}
.corrector-m .columnPrograma {width: 31.8%;}
.corrector-m .exec.nuevaBusqueda p {width: 45% !important;  float: right;}
.corrector-m .contenedorPostgrado {width: 102%;}
.corrector-m .bloque-institucion {padding: 20px 0; width: 103%;}
.corrector-m .bloque-info-inst {width: 102%;}

/*Tematicas zaragoza ajuste*/
.col-1.width-control-zaragoza-max{width: 29%!important;}
.col-1.width-control-zaragoza{width: 13%!important;}


/*NUEVAS SEDES DE A CORUÑA Y VIGO MODIFICACIONES POR EL CONTENIDO*/

.corrector-m .bloque-tematicasNuevo.sedeNuevo.tematics.a_coruna-mod{width: 100%!important; margin-top: 0px; margin-right: 1.8rem; padding-bottom: 1rem;}
.corrector-m .bloque-tematicasNuevo.sedeNuevo.tematics.a_coruna-mod .title-areas-a-coruna {width: 100%; display: block; float: left; padding-bottom: 1rem!important}
.corrector-m .bloque-tematicasNuevo.sedeNuevo.tematics.a_coruna-mod .bloque-titulo{padding-bottom: 5px; width: 100%;}
.corrector-m .tematics .col-1.tematicas-a-coruna {width: 28%; height: 97px}
.col-3-tem.tematicas-a-coruna {width: auto;}
.col-3-tem.tematicas-a-coruna .row-tam.tem{position: initial;}
.como-llegar-a-coruna .col-4-new.sedeMapa{width: 100%;}
.como-llegar-a-coruna .col-4-new.sedeMapa .direccion {position: absolute; width: 100%; left: 0; right: 0; padding: 15px 10px 15px 16px; margin: 84px 0 0 -3px;}
.corrector-m .tematics .col-1.tematicas-a-coruna .row-tam {padding: 3px 0;}
.nuevoMenu li:hover .dropdown_esic.sedes2.a_coruna-menu-institucion{left: -58.1em!important;}
.margin-r-map{margin-right: 3rem;}
.col-1-bloques.masteres.sedeC.a_coruna-postgrado{width: 33.2%; text-align: center;}
.col-1-bloques.masteres.sedeC.a_coruna-postgrado .title-programas span{padding-top: 1.1rem; padding-bottom: 2rem; display: block;}
  
#menu.english.campuses li:hover .dropdown_esic.sedes2.a_coruna-menu-institucion {left: -53em !important;}

/*sedes contacto pais de residencia*/
.inline-form-pais{float: left; width: 44%; margin-bottom: 10px; margin-top: 5px;}
.margin-custom{margin-left: 24px;}

.empresas-ficha-titulacion-master{width: 30%; float: left; padding: .5rem;}
.center-block-gobierno{
	margin-left: 25%;
}



/* GRID BLIBIOTECA */

	.width-full{
		width: 100%;
		display: block;
	}

	.col-6{
		width: 45%;
		float: left;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.border-bottom-dotted-grey{
		border-bottom: 1px #999 dashed;
		display: inline-block;
		width: 100%;
	}

	.align-margin-alimarket{
		margin-top: 5.2rem;
	}
	.align-margin-elibro{
		margin-top: 8.4rem;
	}

	.align-margin-ecases{
		margin-top: 2.2rem
	}

	
/*RESPONSIVE*/

@media (max-width:1900px){
	.info-btn {top:60%;}
	
}

@media (max-width:1620px){
	.info-btn {top:66%;}
	
}

@media (max-width:1366px){
	.desplegable {width:14%;}
	.info-btn {top:62%;}
	
}

@media (max-width:1280px){
	.info-btn {top:63%;}
	
}

@media (max-width:1280px) and (orientation:portrait){
	
	.info-btn {top:80%;}
}

@media (max-width:1030px){

}


@media (max-width:1024px){
	.row-inst {width:31.87%;margin-right:12px;}
	/*.contenido.programas {margin:51px auto 0px !important;}*/
	.caja-sh {left:18px;}
	.textDatos {width:47.79%;}
	.titleDatos {width:97.85%;}
	.selecciona_tu.cortaDura{margin-top:-30px !important;}
	/*nueva home postgrado*/
	.columnTexto {width:22%;}
	.masWidth2, .masWidth{width:90% !important;}
	.columnPrograma p{width:90%;}
	.bloqueDerecho .espacio {width:82%;}
	.desplegable {width:18%;margin-top:65px;}
	.masWidth4, .masWidth7, .masWidth6 {width:88% !important;}
	.titlePrincipal{width:auto;}
	.wrapper_columns_trends.gesco{margin-bottom:20px !important;}
	.info-btn {top:70%;}
	.bloqueIconosDos .bloqueDos {
	width:50%;
	padding-top:27px;}
	.nuevoMenu li .drop.padding-granada-correction {
	padding: 20px 18px 0px!important;}
}


@media (max-width:998px){
	.bloqueSoluciones {width:34%;height:282px;}
	.corrector-m .bloqueSoluciones {width: 36.5%; height: 321px;}
	.bloqueIconos {width:95%;}
	.bloqueIconosDos {width:100%;}
	.bloqueIconosDos .bloqueDos{width:16%;}
	.corrector-m .tematics .col-1.tematicas-a-coruna {width: 27%;}
}

@media ( max-width: 992px){

	.col-1-bloques {width: 100%;}
	.col-1-bloques .title-programas{text-align: center;}
	.col-1-bloques .texto {width: 100%; padding: 10px 0px 10px}
	.corrector-m .col-1-bloques{width: 100%;}
	.col-3.no-background.como-llegar-a-coruna{margin-top: 2rem; width: 48%;}
	.col-1-bloques.masteres.sedeC.a_coruna-postgrado{width: 98%; text-align: center;}
	.center-block-gobierno{
		margin-left: 0rem;
	}
}

@media( max-width: 980px){
	.inline-form-pais {width: 42%;}
}


@media(max-width: 957px){
	.corrector-m .tematics .col-1.tematicas-a-coruna {width: 20%;}
	
}

@media (max-width:949px){
	.height-control {height: 59px!important;}
	.header {height: 59px;}
}

@media (max-width:945px){
	.menu-granada{margin:0 -28px 0 0!important;}
	.col-1.width-control-zaragoza-max{width: 33.33333%!important;}
	.col-1.width-control-zaragoza{width: 100%!important; text-align: center; margin-bottom: 1rem; border-right: 0px solid transparent;}
}



@media ( max-width: 926px){

	.nuevoMenu li .drop.padding-granada-correction {padding: 20px 8px 0px!important;}
	.corrector-m .bloqueSoluciones{width: 100%; height: auto;  margin-bottom: 6px;}
	.corrector-m .bloqueTitle {width: 100%; height: auto;}
}

@media( max-width: 910px){
	.corrector-m .row-inst {width: 103%;}
	.corrector-m .bloque-info-inst {width: 103%;}


	.col-6{
		width: 100%;
		border-bottom: 1px #999 dashed;
	}

	.border-bottom-dotted-grey{
		border-bottom: none
	}
	.align-margin-alimarket , .align-margin-elibro , .align-margin-ecases{
		margin-top: 1rem
	}

}
@media ( max-width: 900px){
	.nuevo-menus {width: 99% !important;}
}


@media( max-width: 867px){

}

@media (max-width:852px){
	.titlePrincipal{margin-bottom:0px;}
	.bloqueSoluciones {width:99%;height:auto;margin:0;margin-bottom:6px;}
	.bloqueTitle, .bloqueTitleDos {width:95%;height:auto;}
	.info-btn{display:none;}
	.info-btn2{display:block;}
	.img-cabecera{margin-top:121px;}
	.col-2 {width:100%;margin-right:0;margin-bottom:10px;}
	.texto{width:96%;}
	.bloque-programas{height:auto;}
	.bloque-tematicasNuevo.homeE {width:100%;margin-right:0;}
	.col-3 {width:99%;top:0;}
	.bloque-noticias, .bloque-eventos{width:100%;}
	.margen{margin-top:0;}
	.bloqueIconos {width:99%;}
}

@media ( max-width: 822px){
	.campus-sede-logo {width: 10%; float: left;  position: relative; top: 5px;}
	.campus-sede-logo-granada {top: 9px; left: 45px;}
	 
}

@media(max-width: 812px){
	.inline-form-pais {width: 41%;}
}

@media( max-width: 772px){
	.col-3.no-background.como-llegar-a-coruna {margin-top: 2rem; width: 100%;}
}

@media (max-width:768px){
	.wrapperHome{width:98%;}
	#nuevo-menu div.buscar {width:auto;text-align:left;}
	#nuevo-menu input.buscar {width:auto;}
	.contacto {width:auto;float:right;text-align:left;}
	.nuevo-menus {width:100% !important;}
	.logo-granada{top: 60px;}
	.col-2, .col-3{width:100%;margin-right:0;margin-bottom:20px;padding-right:0;}
	.col-1, .col-1.titulo-tem, .madridT .col-1, .madridT .col-1.titulo-tem{width:97% !important;border-right:none;}
	.header{height:154px !important;width:102% !important;}
	.header.nuevoSed{height: 66px !important;}
	.header.nuevoSed img.logo {margin-top: 36px;}
	.img-cabecera, .img-cabecera.generica, .img-cabecera.back, .img-cabecera.back.experience-post, .img-cabecera.back.experience-grado{width:103%;position:relative;margin:0;background:none;height:auto;border:none;}
	.contenedor{width:100%;margin-top:0 !important;}
	.img-cabecera.back{float:none;}
	.img-cabecera.generica-back{width: 102%;}
	.img-cabecera.generica-back .contenido-home{padding: 0;}
	#pull{width:100.6% !important;margin:16px 0 20px !important;}
	.icono-tem, .tematics .icono-tem {width:auto;margin-right:10px;}
	.img-cabecera.madrid, .img-cabecera.granada, .img-cabecera.generica{background:none;}
	.row-visita-virtual a, .row-como-llegar a {text-align:left;}
	.row-visita-virtual, .col-3.no-background{float:left;}
	.bloque-noticias, .bloque-eventos{width:100%;margin-right:0;}
	#nuevo-menu ul.inicio.sedes, #nuevo-menu ul.inicio{width:auto;height:30px;}
	.enlace-noticias, .enlace-eventos, .fecha-ev {width:100%;}
	/*.mas-responsive{width:100% !important;}*/
	.row-tam.tem {width:91%;}
	.select {width:100%;}
	.select select {width:103%;}
	.col-4 {width:100%;float:left;}
	.sedeMapa .direccion {width:auto;}
	.tematics .col-1{height:auto;width:97%;}
	.col-3-tem {width:84%;float:left;padding:40px 15px 0;}
	.nuevoMenu .dropdown_esic, .dropdown_carreras, .dropdown_masters, .dropdown_executive, .dropdown_sedes, .dropdown_experience {width:100% !important;left:0px;padding:10px 0px;position:relative;}
	.nuevoMenu li .drop {height:auto !important;padding:12px 0 !important;}
	.bloque-programas, .contenedor.sedes .bloque-programas{height:auto;}
	.bloque-tematicasNuevo {width:100%;}
	.col-3 {top:0;}
	.row-not, .row-ev{height:auto !important;}
	.row-inst{width:48%;margin-bottom:10px;margin-right:10px;}
	.bloque-info-inst {width:96%;}
	.row-inst a {text-align:center;}
	.bloque-info-inst .col-1.no-bord {border-bottom:1px solid #ababab;}
	.contenido.prueba{margin:150px auto 0px !important;}
	.bloqueMenu{width:100%;}
	.slider.form{background:none;}
	.wrapper_columns_trends .formRa p {width:54% !important;}
	.caja-sh, #infotri, #infogestion {left:26px;}
	.wrapper_columns_trends .cajita-sh p {width:100% !important;}
	.wrapper_columns_trends .formRa p.ocu {width:38% !important;}
	.fact .bloqueRa.trans {width:auto;margin-right:13px;}
	.tablaAlumno, .tablaFactura{width:100%;margin-bottom:10px;}
	.height{height:auto;}
	.tablaAlumno, .tablaFactura, .datosAlumno, .datosFact{width:108%;}
	.btnInscribete {margin-left:196px;top:0;}
	.textDatos {width:47.75%;}
	.titleDatos{width:97.75%;}
	.logoIcemd, .logoIcemd.noMar {float:none;margin-left:7px;margin-right:0;}
	.logoIcemd.float {float:none;margin-left:0;}
	.logo-galicia {margin: 21px 0 0;}
	.campus-sede-logo.galicia{top: 37px;}
	.logo-bilbao{top: 36px;left: 0;}
	.campus-sede-logo.bilbao {display: block; top: 58px; left: 38px;width: auto;}

	/*Nueva home postgrado*/
	.bloqueIzquierdo, .bloqueDerecho {width:100%;margin-right:0;}
	.bloqueDerecho .espacio {width:38%;clear:both;text-align:center;display:inline-block;float:none;position:initial;margin-top:-10px;}
	.bloqueDerecho{text-align:center;margin-top:30px;}
	.bloqueDerecho a{text-align:center;display:inline-block;width:100%;float:left;}
	.bloqueDerecho a img{clear:both;text-align:center;}
	.bloqueDerecho .espacio a{text-align:left !important;}
	.desplegable {width:27%;}
	.bulletPost, .desplegable .bulletPost {width:auto !important;}
	.contenedorPostgrado {padding:0;}
	.bloqueSoluciones{height:163px;}
	.noMarg{height:auto;}
	.bloque-tematicasNuevo.homeE {width:100%;}
	.columnTexto ul{height:auto;}
	.bloqueIconosDos .bloqueDos {width:16.5%;padding-top:0px}
	.campus-sede-logo {width: 75px; float: left;  position: relative; top: 59px;}
	.campus-sede-logo-granada {top: 18px; left: 45px;}
	.top-height {height: 186px!important;}
	.corrector-m .bloqueIconosDos {width: 100%;}
	.corrector-m .bloqueDerecho .espacio {width: 44%;}
	.corrector-m .tematics .col-1.tematicas-a-coruna {height: auto;}

}

@media(max-width: 760px){
.row-contacto {width: 97%;}
.margin-custom {margin-left: 0px;}
.inline-form-pais {width: 93%;}
.marco_img2 {height: 365px;}
}

@media (max-width:736px){
	.contenido.prueba{margin:150px auto 0px !important;}
	.textDatos, .titleDatos{width:97.6%;}
	.catalogoNuevo{width:108%;}
	.masWidth4, .masWidth7, .masWidth6 {width:74% !important;}
	.btnInscribete {margin-left:183px;}
}

@media (max-width:667px){
	.col-3-tem {width:94%;}
	.col-4-contacto, .col-8-formulario {width:98%;}
	.slider.form{background:none;}
	.estirado .formularioA{margin-bottom:15px;}
	.formularioA, .rightForm {width:100%;}
	.caja-sh {width:52%;left:-9px;}
	.rowInput input, .rowActivo input {width:98%;}
	.fact .bloqueRa, .bloqueRa, .fact .bloqueRa.dos{width:auto;margin-right:13px;}
	.fact .bloqueRa:last-child, .bloqueRa:last-child{margin-right:0;}
	.rowActivo input {width:97%;}
	.textDatos {width:47.4%;}
	.titleDatos {width:97.3%;}
	/*Nueva home postgrado*/
	.columnTexto, .columnTexto.duo {width:100%;}
	.catalogoNuevo {width:112%;}
	/*Nueva home executive*/
	.presentacionExecutive .columnTexto ul{border-right:0;border-bottom:1px solid #822022;}
	.presentacionExecutive .columnTexto ul.last{border-bottom:0;}
	.masWidth4, .masWidth7, .masWidth6 {width:89% !important;}
	.bloqueTitle, .bloqueTitleDos {width:95%;height:auto;margin-bottom:6px;}
	.titlePrincipal, .descPrincipal{margin-bottom:10px;}
	.presentacionExecutive .textBullet {width:94%;}
	.bloqueIconos, .bloqueIconosDos{width:100%;}
	.btnInscribete {margin-left:138px;}
	.row-contacto {width: 46.7%;}
	.margin-custom {margin-left: 24px;}
	.inline-form-pais {width: 42%;}
}



@media (max-width:603px){
	.header{height:154px !important;}
	.header.nuevoSed {height: 99px !important;}
	#nuevo-menu ul.idiomas.sedes, #nuevo-menu ul.idiomas {float:right;margin:0;}
	#nuevo-menu div.buscar {width: calc(100% - 100px);margin-left: 4px;}
	.row-inst {width:46%;}
	.contenido.prueba {margin:60px auto 0px !important;}
	.wrapper_columns_trends .cols-3 p{padding-bottom:0 !important;}
	.caja-sh, #infotri, #infogestion {left:10px;}
	.wrapper_columns_trends .textLegal p{padding-bottom:0 !important;}
	.textDatos, .titleDatos{width:97%;}
	/*Nueva home postgrado*/
	.bloqueDerecho .espacio {width:49%;margin-left:0px;}
	.columnPrograma {width:100%;margin-bottom:20px;}
	.desplegable {width:89%;}
	.columnPrograma p {width:88%;}
	.masWidth2 {width:90% !important;}
	.masWidth, .masWidth3 {width:89% !important;}
	.masMargin {margin-right:21px !important;}
	.catalogoNuevo {width:100%;}
	.catalogoNuevo .desplegable {width:89%;}
	.desplegable {margin-top:36px;}
	.masWidth4, .masWidth5, .masWidth7, .masWidth6{width:89% !important;}
	.texto{width:94%;}
	.btnInscribete {margin-left:111px;}
	.col-1.width-control-zaragoza-max{width: 100%!important; margin: 0 33% 0;}
	.empresas-ficha-titulacion-master{width: 30%; float: left; padding: .1rem;}
}

@media (max-width:568px){
  .cols-3{width:100%;margin-bottom:5px;margin-right:0;}
	.caja-sh, #infotri, #infogestion {left:17px;}
	.btnInscribete {margin-left:89px;}
	.bloqueIconosDos .bloqueDos{width:100%;padding-top:7px;padding-bottom:7px}

}


@media( max-width: 494px){
	.row-contacto {width: 97%; padding: 5px 0 10px 0px;}
	.inline-form-pais {width: 94%;}
	.margin-custom {margin-left: 0px;}
}

@media (max-width:480px){
	.ocultar-borde{display:none;}
	.campus {width:40%;}
	.sedeMapa .direccion {padding:15px 13px 15px;width:86%;}
	.select select {width:105%;}
	.row-contacto {width:97%;padding:5px 0 10px 0px;}
	.styleSelect-contacto {width:93%;}
	.checkbox-contacto {width:100%;}
	.noticia-actualidad{width:100%;}
	.caja-sh {left:38px;top:-10px;}
	.enlaceRight{float:left;margin-top:20px;}
	.selectFact {width:101%;}
	.estirado {width:95%;}
	.modificarDatos .enlaceRight img {margin-left:10px;}
	.descargarReserva .enlaceRight {padding:5px 15px 15px;}
	.selecciona_tu.formExecutive{margin:19px 64px !important;}
	.rowActivo input {width:97%;}
	.textDatos, .titleDatos {width:96%;}
	.galicia .header.nuevoSed img.logo {margin: 36px 120px 0 0;}
	.galicia .logo-galicia {margin: 0 0 20px -11px;}
	.galicia .campus-sede-logo.galicia {top: 17px;}

	/*Nueva home postgrado*/
	.desplegable {width:83%;}
	.masWidth2 {width:87% !important;}
	.columnPrograma p {width:84%;}
	.masWidth, .masWidth3 {width:86% !important;}
	.bloqueDerecho .espacio {width:62%;}
	.columnImg {width:100%;}
	.catalogoNuevo .desplegable {width:86%;}
	.selecciona_tu{margin:19px 62px !important;}
	.catalogoNuevo .columnPrograma p {width:80%;}
	.masWidth4, .masWidth5,.masWidth7, .masWidth6 {width:85% !important;}
	.bloqueTitle, .bloqueTitleDos {width:92%;}
	.bloqueSoluciones {width:98%;}
	.bloqueIconos, .bloqueIconosDos {width:98%;}
	.info-btn2 img{width:5%;top:4px;}
	.texto{width:91%;}
	.btnInscribete{margin-left:24px};
	.styleSelect-contacto.inline-form-pais{width: 91%!important;}

}

@media( max-width: 450px){
		.empresas-ficha-titulacion-master{width: 100%; float: left; padding: .1rem; text-align: center;}
		.empresas-ficha-titulacion-master ul{margin-bottom: 5px; margin-top: 5px;}
}

@media (max-width:414px){
	.wrapper_columns_trends{height:auto !important;}
	.caja-sh, #infotri, #infogestion {left:61px;}
	/*Nueva home postgrado*/
	.bloqueDerecho .espacio {width:73%;}

	.granada .header.nuevoSed img.logo {margin-right: 100px;}
	.granada .logo-granada {top: 16px;}
	.granada .campus-sede-logo {top: 16px;}
}

@media (max-width:385px){
	.select select {width:106%;}
	.contenido.prueba {margin:10px auto 0px !important;}
	.wrapper_columns_trends .cajita-sh p.anchoE{width:100% !important;}
	.titleDatos, .textDatos {width:95%;}
	.tablaAlumno, .tablaFactura{width:109%;}
	.selecciona_tu.formExecutive{margin:19px 44px !important;}
	.selecciona_tu {margin:19px 64px !important;}
	/*Nueva home postgrado*/
	.columnPrograma p {width:76%;}
	.masWidth2 {width:79% !important;}
	.masWidth, .masWidth3 {width:78% !important;}
	.bloqueDerecho .espacio {width:81%;}
	.bulletPost, .desplegable .bulletPost {width:auto !important;}
	.bloqueDos {width:48%;margin-bottom:10px;margin-right:5px;}
	.bloqueTitle, .bloqueTitleDos {width:90%;}
}

@media (max-width:375px){
	.header.nuevoSed {height: 130px !important;}
	#nuevo-menu ul.idiomas.sedes, #nuevo-menu ul.idiomas {margin-top: 30px;}
	#nuevo-menu input.buscar {width: 180px;}
	.masWidth4, .masWidth5 , .masWidth7, .masWidth6{width:78% !important;}
	.col-1.width-control-zaragoza-max{width: 100%!important; margin: 0 25% 0;}
}

@media (max-width: 345px) {
	.bilbao .header.nuevoSed img.logo {margin-right: 90px;}
	.bilbao .logo-bilbao {top: 12px;left: -6px;}
	.bilbao .campus-sede-logo.bilbao {top: 34px;}
	.bilbao #pull {margin: 26px 0 20px !important;}
}

@media (max-width:320px){
	.bloqueDos {width:45%;}
	.col-1, .col-1.titulo-tem {width:94%;}
	.col-3-tem {width:89%;}
	.select select {width:107%;}
	.row-inst {width:100%;}
	.radio {width:32%;}
	.wrapper_columns_trends .formRa p {width:60% !important;}
	.caja-sh {width:67%;}
	#infogestion{width:40%;left:10px;}
	#infotri{width:67%;left:40px;}
	.datosFact .radio {width:100%;}
	.selecciona_tu.formExecutive{margin:19px 24px !important;}
	.selecciona_tu{margin:19px 54px !important;}
	.catalogoNuevo .desplegable {width:80%;}
	.catalogoNuevo .columnPrograma p {width:75%;}
	.bulletPost, .desplegable .bulletPost, .catalogoNuevo .desplegable .bulletPost,{width:auto !important;}
	.info-btn2 img{width:7%;}
	.texto{width:89%;}
	.btnInscribete {margin-left:15px;}
}

